@import url(../scss/utils/reset.scss);
#app,
.v-application {
	font-family: "PTRootUI" !important;
	font-weight: 400;
	p {
		margin: 0;
	}
}
.v-dialog {
	max-height: 100vh !important;
	right: 0;
	position: absolute;
	margin: 0;
}
.modal__title {
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	text-align: center;
	color: #111421;
}

table {
	th {
		background-color: #f1f3f9;
		color: #a6acc4 !important;
	}
	td,
	th {
		vertical-align: middle;
		text-align: center;
		border: none !important;
	}
	td:not(:first-child) {
		text-align: center !important;
	}
	tr:nth-child(odd) {
		background-color: #f8f9fd;
	}
	tr:nth-child(even) {
		background-color: #f1f3f9;
	}
}
