@import url(../scss/utils/reset.scss);
@import url(../scss/utils/variables.scss);
@import url(../scss/fonts.scss);
@import url(../scss/utils/mixins.scss);
@import url(../scss/ui.scss);
@import url(../scss/components/sidebar.scss);
@import url(../scss/components/table.scss);
body{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#app,
.v-application  {
	font-family: "OpenSans";
	font-weight: 400;
	p {
		margin: 0;
	}
}

.v-dialog {
	max-height: 100vh !important;
	right: 0;
	position: absolute;
	margin: 0;
}
.modal__title {
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	text-align: center;
	color: #111421;
}
.v-application--wrap {
	min-height: calc(100vh - 48px);
}

