@import url(../scss/utils/reset.scss);
@import url(../scss/ui.scss);
@import url(../scss/components/sidebar.scss);
@import url(../scss/components/table.scss);

#app,
.v-application {
	font-family: "PTRootUI" !important;
	font-weight: 400;
	p {
		margin: 0;
	}
}

.v-dialog {
	max-height: 100vh !important;
	right: 0;
	position: absolute;
	margin: 0;
}
.modal__title {
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	text-align: center;
	color: #111421;
}
.v-application--wrap {
	min-height: calc(100vh - 48px);
}
.container {
	padding: 0 40px !important;
}
