.table {
    // border: 1px solid red;
    &-inner{
        border-radius: 18px;
        overflow: hidden;
    }
	th {
		background-color: #f1f3f9;
		// color: rgba(#fff, .8) !important;
        color: rgb(41, 39, 39) !important;
        font-size: 16px !important;
        font-weight: 700;
        &::first-letter{
            text-transform: uppercase;
        }
	}
    tr td:last-child{
        text-align: right !important;
    }
	td,
	th {
		vertical-align: middle;
		text-align: center;
		border: none !important;
	}
	td:not(:first-child) {
		text-align: center !important;
	}
	tr:nth-child(odd) {
		background-color: #f8f9fd;
	}
	tr:nth-child(even) {
		background-color: #f1f3f9;
	}
}
.v-data-table-header__icon{
    // color: rgba(#fff, .8) !important;
    color: rgb(41, 39, 39) !important;

}
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper){
		background-color: rgba(#fff, .5) !important;

}